@import URL("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import URL("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  background-color: white;
  margin: 0;
  padding: 0;

}
.Picture_Container {
  background-color: aqua;
  height: 820px;
  /* background-image: url("https://images.pexels.com/photos/982612/pexels-photo-982612.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
  /* background-image: url("https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-image: url("https://images.pexels.com/photos/614974/pexels-photo-614974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: 100%;
  
}
.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: solid 1px white;
  width: 20vw;
  height: 100vh;
  margin-bottom: 200px;
  
}
#Pictures_Button {
  color: rgb(97, 96, 96);
  background-color: transparent;
  border: none;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  outline: none;

}
#Add_Button {
  color: rgb(97, 96, 96);
  background-color: transparent;
  border: none;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
#Submit_Button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
#Name_Input {
  background-color: transparent;
  width: 300px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px white;
  border-radius: 25px;
  outline: none;
  margin-left: 10px;
}
#Image_Input {
  background-color: transparent;
  width: 300px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px white;
  border-radius: 25px;
  outline: none;
  
}
#Input_Submit {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 300px;
  margin-top: -680px;
  padding-bottom: 310px;
}
img {
  max-width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 500px;
  border: solid 1px white;
  margin-top: 20px;
  padding: 0;
}
#Delete_Button {
  color:black;
  background-color: transparent;
  width: 300px;
  font-size: 20px;
  border: none;
  margin-left: 490px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  margin-top: -4px;
}
#Input_Button {
  margin-left: 500px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
/* #Des_Input {
  background-color: transparent;
  font-family: 'Cinzel', serif;
  border: solid 1px #323235;
  outline: none;
}
#Edit_Button {
  color: rgb(97, 96, 96);
  background-color: transparent;
  border: none;
  font-family: 'Cinzel', serif;
  outline: none;
  
} */
#Like_Button {
  color:black;
  background-color: transparent;
  width: 300px;
  font-size: 20px;
  border: none;
  margin-left: 800px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  margin-top: -28px;
}
#counter {
  color:black;
  background-color: transparent;
  width: 300px;
  font-size: 20px;
  border: none;
  margin-left: 870px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  margin-top: -27px;
}
#logo {
  height: 100px;
  width: 100px;
  border: none;
  position: sticky;
}
#container {
  background-color: transparent;
  margin-left: 800px;
  position: sticky;
}
#container2 {
  background-color: white;
  /* width: 20vw; */
  /* background-image: url("https://images.pexels.com/photos/982612/pexels-photo-982612.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
}
.gallary {
  /* background-color: white; */
}
#Pictures_Button:hover {
  color: white;
  /* border-bottom: solid 1px black; */
}
#Add_Button:hover {
  color: white
}
#Submit_Button:hover {
  color: black;
}
#Delete_Button:hover {
  color: white;
}
#Like_Button:hover {
  color: white;
}

